.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modalBody{
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 642px;
  height: 624px;
}

.modalContent {
  margin-top: 30px;
  border-radius: 10px;
  width: 100%;
  height: 390px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  background: white;
}

.appContainer{
  padding: 20px;
}

.modalContent label{
  font-size: 16px;
  font-weight: 600px;
  line-height: 20.2px;
  letter-spacing: 0%;
}

.linksOptions{
  width: fit-content;
}

.inputBox{
  width: 100%;
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.inputGroup {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inputGroup input {
  padding: 8px;
  width: 100%;
  border: 1px solid #ddd;
  background-color: #F6F7F5;
  border-radius: 20px;
}

.apps {
  display: flex;
  justify-content: start;
  margin: 10px 0;
  gap: 20px;
}

.appButton {
  padding: 15px 17px;
  background-color: #EFEFEF;
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.appButton img{
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.closeButton {
  background: red;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.iconContainer{
  display: flex; 
  flex-direction: column;
  gap: 5px; 
  align-items: center;
  justify-content: center;
}

.iconContainer p{
  font-size: 11px;
  line-height: 20.2px;
  letter-spacing: 0%;
}

.selectedApp {
  background-color: green; 
  border-radius: 5px;
  padding: 5px;
}


